.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: .5rem;
    border: 1px solid rgb(161, 159, 159);
    padding: .3rem 3%;
    border-radius: 2rem;
}